<footer class="bg-black-0">
  <div class="pt-xl-8">
    <div class="container">
      <div class="py-9 py-xl-20">
        <div class="d-flex flex-column flex-xl-row justify-content-between align-items-center gap-4 gap-xl-12">
          <div class="d-flex gap-6">
            <a href="#" class="d-block">
              <img src="../assets/images/icons/facebook.svg" alt="">
            </a>
            <a href="#" class="d-block">
              <img src="../assets/images/icons/twitter.svg" alt="">
            </a>
            <a href="#" class="d-block">
              <img src="../assets/images/icons/instagram.svg" alt="">
            </a>
          </div>
          <div class="flex-grow-1 w-100 w-xl-auto outline outline-1 outline-black-100"></div>
          <h4 class="font-noto-serif fs-14 fs-sm-20 fs-xl-24 ls-tiny-xl-15 text-center text-xl-start">
            <p class="mb-xl-2">HairMoments © 2023. All Rights Reserved</p>
            <p>使用者條款與隱私權政策</p>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="position-relative">
    <div class="position-absolute bottom-0 end-0">
      <div class="p-1 bg-black-100 mb-20 me-20">
        <a href="#to-top" class="d-block">
          <img src="../assets/images/icons/arrow-up.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>