<header class="bg-black-0 fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg position-relative bg-white">
      <a href="./index.html" class="navbar-brand" aria-current="true">
        <img src="../assets/images/icons/brand-logo.svg" alt="">
      </a>
      <button type="button" class="navbar-toggler bg-black-100" data-bs-toggle="collapse"
        data-bs-target="#collapseNavbar" data-bs-theme="dark">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapseNavbar">
        <ul class="navbar-nav navbar-link-seperator position-lg-absolute top-lg-50 start-lg-50 translate-middle-lg">
          <li class="nav-item">
            <div class="search-panel-entry">
              <a class="search-panel-indicator nav-link">Area</a>
              <div class="search-panel-content">
                <div class="pt-6 px-8 bg-primary-main">
                  <span class="d-block fw-bold">請選擇區域</span>
                </div>
                <div class="d-flex">
                  <div class="search-region">
                    <div class="northern-region">
                      <div class="py-4 px-12">
                        <div class="d-flex justify-content-between align-items-center gap-5">
                          <span class="d-block fw-bold">北部</span>
                          <img src="../assets/images/icons/arrow.right.svg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="py-4 px-12">
                      <div class="d-flex justify-content-between align-items-center gap-5">
                        <span class="d-block fw-bold">中部</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="py-4 px-12">
                      <div class="d-flex justify-content-between align-items-center gap-5">
                        <span class="d-block fw-bold">南部</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="py-4 px-12">
                      <div class="d-flex justify-content-between align-items-center gap-5">
                        <span class="d-block fw-bold">離島</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="search-area">
                    <div class="keelong-area">
                      <div class="py-4 px-12 bg-primary-light">
                        <div class="d-flex justify-content-between align-items-center gap-5">
                          <span class="d-block fw-bold">基隆地區</span>
                          <img src="../assets/images/icons/arrow.right.svg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="yilan-area">
                      <div class="py-4 px-12 bg-primary-light">
                        <div class="d-flex justify-content-between align-items-center gap-5">
                          <span class="d-block fw-bold">宜蘭地區</span>
                          <img src="../assets/images/icons/arrow.right.svg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="taipei-area">
                      <div class="py-4 px-12 bg-primary-light">
                        <div class="d-flex justify-content-between align-items-center gap-5">
                          <span class="d-block fw-bold">台北地區</span>
                          <img src="../assets/images/icons/arrow.right.svg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="taoyuan-area">
                      <div class="py-4 px-12 bg-primary-light">
                        <div class="d-flex justify-content-between align-items-center gap-5">
                          <span class="d-block fw-bold">桃園地區</span>
                          <img src="../assets/images/icons/arrow.right.svg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="hsinchu-area">
                      <div class="py-4 px-12 bg-primary-light">
                        <div class="d-flex justify-content-between align-items-center gap-5">
                          <span class="d-block fw-bold">新竹地區</span>
                          <img src="../assets/images/icons/arrow.right.svg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="search-city">
                    <div class="keelong-cities">
                      <div class="py-4 px-12">
                        <a class="d-flex justify-content-between align-items-center gap-5">
                          <span class="d-block fw-bold">基隆市</span>
                          <span class="d-block font-prata fs-12">(666)</span>
                        </a>
                      </div>
                    </div>
                    <div class="yilan-cities">
                      <div class="py-4 px-12">
                        <a class="d-flex justify-content-between align-items-center gap-5">
                          <span class="d-block fw-bold">宜蘭市</span>
                          <span class="d-block font-prata fs-12">(666)</span>
                        </a>
                      </div>
                    </div>
                    <div class="taipei-cities">
                      <div class="py-4 px-12">
                        <a class="d-flex justify-content-between align-items-center gap-5">
                          <span class="d-block fw-bold">台北市</span>
                          <span class="d-block font-prata fs-12">(156)</span>
                        </a>
                      </div>
                      <div class="py-4 px-12">
                        <a class="d-flex justify-content-between align-items-center gap-5">
                          <span class="d-block fw-bold">新北市</span>
                          <span class="d-block font-prata fs-12">(92)</span>
                        </a>
                      </div>
                    </div>
                    <div class="taoyuan-cities">
                      <div class="py-4 px-12">
                        <a class="d-flex justify-content-between align-items-center gap-5">
                          <span class="d-block fw-bold">桃園市</span>
                          <span class="d-block font-prata fs-12">(666)</span>
                        </a>
                      </div>
                    </div>
                    <div class="hsinchu-cities">
                      <div class="py-4 px-12">
                        <a class="d-flex justify-content-between align-items-center gap-5">
                          <span class="d-block fw-bold">新竹市</span>
                          <span class="d-block font-prata fs-12">(666)</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Style</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Ranking</a>
          </li>
          <li class="nav-item">
            <a href="./news.html" class="nav-link">News</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">FAQ</a>
          </li>
        </ul>
        <ul class="navbar-nav position-lg-absolute top-lg-50 end-lg-0 translate-middle-lg-y">
          <li class="nav-item">
            <a href="./login.html" class="nav-link">
              <div class="d-flex align-items-center gap-3">
                <img src="../assets/images/icons/user-logout.svg" alt="">
                <p>登入/註冊</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>