<header class="bg-black-0 fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg position-relative bg-white">
      <a href="./index.html" class="navbar-brand" aria-current="true">
        <img src="../assets/images/icons/brand-logo.svg" alt="">
      </a>
      <button type="button" class="navbar-toggler bg-black-100" data-bs-toggle="collapse"
        data-bs-target="#collapseNavbar" data-bs-theme="dark">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapseNavbar">
        <ul class="navbar-nav navbar-link-seperator position-lg-absolute top-lg-50 start-lg-50 translate-middle-lg">
          <li class="nav-item">
            <div class="area-search-panel-entry">
              <a class="nav-link-ench">
                <span class="en">Area</span>
                <span class="ch">區域</span>
              </a>
              <div class="area-search-panel-content">
                <div class="pt-6 px-8 bg-primary-main">
                  <span class="d-block fw-bold">請選擇區域</span>
                </div>
                <div class="search-category">
                  <div class="search-region"></div>
                  <div class="search-area"></div>
                  <div class="search-city"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="style-search-panel-entry">
              <a class="nav-link-ench">
                <span class="en">Style</span>
                <span class="ch">髮型</span>
              </a>
              <div class="style-search-panel-content">
                <div class="pt-6 px-8 bg-primary-main">
                  <span class="d-block fw-bold">請選擇類型</span>
                </div>
                <div class="search-category">
                  <div class="search-gender"></div>
                  <div class="search-haircut"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link-ench">
              <span class="en">Ranking</span>
              <span class="ch">排行榜</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="./news.html" class="nav-link-ench">
              <span class="en">News</span>
              <span class="ch">最新消息</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="./faq.html" class="nav-link-ench">
              <span class="en">FAQs</span>
              <span class="ch">常見問題</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav position-lg-absolute top-lg-50 end-lg-0 translate-middle-lg-y">
          <li class="nav-item">
            <a href="./login.html" class="nav-link">
              <div class="d-flex align-items-center gap-3">
                <img src="../assets/images/icons/user-logout.svg" alt="">
                <p class="text-black-100">登入/註冊</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>