<header class="bg-black-0 fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg position-relative bg-white">
      <a href="./index.html" class="navbar-brand" aria-current="true">
        <img src="../assets/images/icons/brand-logo.svg" alt="">
      </a>
      <button type="button" class="navbar-toggler bg-black-100" data-bs-toggle="collapse"
        data-bs-target="#collapseNavbar" data-bs-theme="dark">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapseNavbar">
        <ul class="navbar-nav navbar-link-seperator position-lg-absolute top-lg-50 start-lg-50 translate-middle-lg">
          <li class="nav-item">
            <div class="search-panel-entry">
              <a class="nav-search-link">
                <span class="en">Area</span>
                <span class="ch">區域</span>
              </a>
              <div class="search-panel-content">
                <div class="pt-6 px-8 bg-primary-main">
                  <span class="d-block fw-bold">請選擇區域</span>
                </div>
                <div class="d-flex">
                  <div class="search-region">
                    <div class="northern-region">
                      <div class="search-item">
                        <span class="d-block fw-bold">北部</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="central-region">
                      <div class="search-item">
                        <span class="d-block fw-bold">中部</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="southern-region">
                      <div class="search-item">
                        <span class="d-block fw-bold">南部</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="outside-of-mainland-region">
                      <div class="search-item">
                        <span class="d-block fw-bold">離島</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="search-area">
                    <div class="keelong-area">
                      <div class="search-item">
                        <span class="d-block fw-bold">基隆地區</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="yilan-area">
                      <div class="search-item">
                        <span class="d-block fw-bold">宜蘭地區</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="taipei-area">
                      <div class="search-item">
                        <span class="d-block fw-bold">台北地區</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="taoyuan-area">
                      <div class="search-item">
                        <span class="d-block fw-bold">桃園地區</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="hsinchu-area">
                      <div class="search-item">
                        <span class="d-block fw-bold">新竹地區</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="miaoli-area">
                      <div class="search-item">
                        <span class="d-block fw-bold">苗栗地區</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="taichung-area">
                      <div class="search-item">
                        <span class="d-block fw-bold">台中地區</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="tainan-area">
                      <div class="search-item">
                        <span class="d-block fw-bold">台南地區</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="kaohsiung-area">
                      <div class="search-item">
                        <span class="d-block fw-bold">高雄地區</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="penghu-area">
                      <div class="search-item">
                        <span class="d-block fw-bold">澎湖地區</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                    <div class="kinmen-area">
                      <div class="search-item">
                        <span class="d-block fw-bold">金門地區</span>
                        <img src="../assets/images/icons/arrow.right.svg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="search-city">
                    <div class="keelong-cities">
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">基隆市</span>
                        <span class="d-block font-prata fs-12">(72)</span>
                      </button>
                    </div>
                    <div class="yilan-cities">
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">宜蘭市</span>
                        <span class="d-block font-prata fs-12">(76)</span>
                      </button>
                    </div>
                    <div class="taipei-cities">
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">台北市</span>
                        <span class="d-block font-prata fs-12">(156)</span>
                      </button>
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">新北市</span>
                        <span class="d-block font-prata fs-12">(92)</span>
                      </button>
                    </div>
                    <div class="taoyuan-cities">
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">桃園市</span>
                        <span class="d-block font-prata fs-12">(144)</span>
                      </button>
                    </div>
                    <div class="hsinchu-cities">
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">新竹市</span>
                        <span class="d-block font-prata fs-12">(90)</span>
                      </button>
                    </div>
                    <div class="miaoli-cities">
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">苗栗縣</span>
                        <span class="d-block font-prata fs-12">(71)</span>
                      </button>
                    </div>
                    <div class="taichung-cities">
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">台中市</span>
                        <span class="d-block font-prata fs-12">(77)</span>
                      </button>
                    </div>
                    <div class="tainan-cities">
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">台南市</span>
                        <span class="d-block font-prata fs-12">(102)</span>
                      </button>
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">嘉義市</span>
                        <span class="d-block font-prata fs-12">(92)</span>
                      </button>
                    </div>
                    <div class="kaohsiung-cities">
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">高雄市</span>
                        <span class="d-block font-prata fs-12">(97)</span>
                      </button>
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">屏東市</span>
                        <span class="d-block font-prata fs-12">(56)</span>
                      </button>
                    </div>
                    <div class="penghu-cities">
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">澎湖縣</span>
                        <span class="d-block font-prata fs-12">(50)</span>
                      </button>
                    </div>
                    <div class="kinmen-cities">
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">金門縣</span>
                        <span class="d-block font-prata fs-12">(21)</span>
                      </button>
                      <button type="submit" class="search-item search-link">
                        <span class="d-block fw-bold">馬祖縣</span>
                        <span class="d-block font-prata fs-12">(10)</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-search-link">
              <span class="en">Style</span>
              <span class="ch">風格</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-search-link">
              <span class="en">Ranking</span>
              <span class="ch">排行榜</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-search-link">
              <span class="en">News</span>
              <span class="ch">最新消息</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-search-link">
              <span class="en">FAQs</span>
              <span class="ch">常見問題</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav position-lg-absolute top-lg-50 end-lg-0 translate-middle-lg-y">
          <li class="nav-item">
            <a href="./login.html" class="nav-link">
              <div class="d-flex align-items-center gap-3">
                <img src="../assets/images/icons/user-logout.svg" alt="">
                <p class="text-black-100">登入/註冊</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>