<header class="bg-black-0 fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg position-relative bg-white">
      <a href="./index.html" class="navbar-brand" aria-current="true">
        <img src="../assets/images/icons/brand-logo.svg" alt="">
      </a>
      <button type="button" class="navbar-toggler bg-black-100" data-bs-toggle="collapse" data-bs-target="#collapseNavbar" data-bs-theme="dark">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapseNavbar">
        <ul class="navbar-nav navbar-link-seperator position-lg-absolute top-lg-50 start-lg-50 translate-middle-lg">
          <li class="nav-item">
            <a href="#" class="nav-link">Area</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Style</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Ranking</a>
          </li>
          <li class="nav-item">
            <a href="./news.html" class="nav-link">News</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">FAQ</a>
          </li>
        </ul>
        <ul class="navbar-nav position-lg-absolute top-lg-50 end-lg-0 translate-middle-lg-y">
          <li class="nav-item">
            <a href="./login.html" class="nav-link">
              <div class="d-flex align-items-center gap-3">
                <img src="../assets/images/icons/user-logout.svg" alt="">
                <p>登入/註冊</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>