<div class="loader-wrap">
    <div class="preloader">
        <div class="preloader-close">Loading</div>
        <div id="handle-preloader" class="handle-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="美" class="letters-loading">
                        美
                    </span>
                    <span data-text-preloader="髮" class="letters-loading">
                        髮
                    </span>
                    <span data-text-preloader="時" class="letters-loading">
                        時
                    </span>
                    <span data-text-preloader="刻" class="letters-loading">
                        刻
                    </span>
                </div>
            </div>  
        </div>
    </div>
</div>