// // Reset
// @import "../scss/reset";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700;900&family=Prata&display=swap');

// Icons


// Bootstrap configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "./variables";
@import "./utils/colors"; // Customized Colors
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "./utilities";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Base
@import "./base/base";

// Components

// Layouts
@import "./layout/header";
@import "./layout/footer";

// Pages
@import "./pages/index";
@import "./pages/news";


// @include ejs專屬
// @import 可以用在scss上

body{
    border: 1px dashed blue;
}
.container{    
    width: 1296px;
    margin: 0 auto;
    border: 1px dashed orange;
}