// 因為"position: fixed"不會佔用空間
// 所以需要將header下的main元素往上推高
.fixed-top + main {
  margin-top: 88px;
}
@include media-breakpoint-up(lg) {
  .fixed-top + main {
    margin-top: 200px;
  }
}

// 在導覽列選單中加入分隔符號
@include media-breakpoint-up(lg) {
  .navbar-link-seperator {
    .nav-item {
      display: flex;
      align-items: center;

      &:not(:first-child)::before {
        margin-left: 16px;
        margin-right: 16px;
        content: "";
        display: block;
        width: 15px;
        height: 1px;
        background-color: $black-100;
        transform: rotate(120deg);
      }
      @include media-breakpoint-up(xl) {
        &:not(:first-child)::before {
          margin-left: 32px;
          margin-right: 32px;
        }
      }
    }
  }
}

.lang {
  position:relative;
  padding: 0;
  display: block;
  color: $black-100;
  cursor: pointer;
  .en-us {
    display: block;
    @include transition(all .3s ease);
  }
  .zh-tw {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    display: block;
    font-weight: 700;
    text-wrap: nowrap;
    color: $secondary-main;
    opacity: 0;
    @include transition(all .3s ease);
  }
  &:hover {
    .en-us {
      opacity: 0;
    }
    .zh-tw {
      opacity: 1;
    }
  }
}

.style-search-panel {
  &-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  &-content {
    position: absolute;
    top: 100%;
    left: -57.5px;
    padding-top: 28.5px;
    &:before {
      position: absolute;
      top: 16.5px;
      left: 72px;
      display: block;
      width: 2px;
      height: 24px;
      content: "";
      background-color: $black-100;
    }
  }
}

.search {
  &-category {
    display: flex;
  }

  &-gender {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 240px;
    background-color: $primary-main;
  }
  &-haircut {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 240px;
    background-color: $primary-light;
    .search-link {
      border: none;
      background-color: transparent;
      color: $black-100;

      &:hover {
        background-color: $black-0;
      }
    }
  }
  &-item {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

// 登入
.navbar-login {
  direction: rtl;
  position: relative;

  .login-btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
  }
}

// 會員頭像
.avater {
  &-btn {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
    background-color: transparent;
    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
      object-position: center;
    }
    span {
      display: block;
    }
  }
  &-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 12px;
    width: 167px;
    background-color: $black-80;
    color: $black-0;
    
    a {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 4px;
    }
  }
}

// 三層選單
.area-menu, .style-menu {
  position: relative;

  .menu-open-btn {
    position: relative;
    color: $black-100;
    cursor: pointer;

    * {
      pointer-events: none;
    }
    .en-us {
      display: block;
      @include transition(all .3s ease);
    }
    .zh-tw {
      position: absolute;
      top: 0;
      left: 50%;
      translate: -50%;
      display: block;
      font-weight: 700;
      text-wrap: nowrap;
      color: $secondary-main;
      opacity: 0;
      @include transition(all .3s ease);
    }
  }

  &:hover {
    .menu-open-btn::before {
      content: "";
      position: absolute;
      top: calc(100% + 16.5px);
      left: 50%;
      display: block;
      width: 2px;
      height: 24px;
      background-color: $black-100;
      z-index: 1;
    }
    .en-us {
      opacity: 0;
    }
    .zh-tw {
      opacity: 1;
    }
  }

  .menu-body {
    position: absolute;
    top: 100%;
    left: -57.5px;
    padding-top: 28.5px;
    display: flex;
    flex-direction: column;
  }

  .menu-guide {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    display: none;
    background-color: $primary-main;
  }

  .layer-wrapper {
    display: flex;
    background-color: $primary-main;
  }

  .layer-1 {
    padding-top: 24px;
    padding-bottom: 24px;
    display: none;
    width: 240px;
  }
  .layer-2 {
    padding-top: 24px;
    padding-bottom: 24px;
    display: none;
    width: 240px;
    background-color: $primary-light;
  }
  .layer-3 {
    padding-top: 24px;
    padding-bottom: 24px;
    display: none;
    width: 280px;
    background-color: $black-0;
  }

  .menu-item {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: $black-100;
    @include transition(all .3s ease);

    * {
      pointer-events: none;
    }
  }

  .layer-1 .menu-item-hover {
    background-color: $primary-light;
  }
  .layer-2 .menu-item-hover {
    background-color: $black-0;
  }
  .layer-3 .menu-item:hover {
    color: $secondary-main;
  }
}

.icon-arrow-right {
  background-image: url("@assets/images/icons/arrow.right.svg");
  display: block;
  width: 24px;
  height: 24px;
}
