// 因為"position: fixed"不會佔用空間
// 所以需要將header下的main元素往上推高
.fixed-top + main {
  margin-top: 88px;
}
@include media-breakpoint-up(lg) {
  .fixed-top + main {
    margin-top: 200px;
  }
}

// 在導覽列選單中加入分隔符號
@include media-breakpoint-up(lg) {
  .navbar-link-seperator {
    .nav-item {
      display: flex;
      align-items: center;

      &:not(:first-child)::before {
        margin-left: 16px;
        margin-right: 16px;
        content: "";
        display: block;
        width: 15px;
        height: 1px;
        background-color: $black-100;
        transform: rotate(120deg);
      }
      @include media-breakpoint-up(xl) {
        &:not(:first-child)::before {
          margin-left: 32px;
          margin-right: 32px;
        }
      }
    }
  }
}

.nav-link-ench {
  position:relative;
  padding: 0;
  display: block;
  color: $black-100;
  cursor: pointer;
  .en {
    display: block;
    @include transition(all .3s ease);
  }
  .ch {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    display: block;
    font-weight: 700;
    text-wrap: nowrap;
    color: $secondary-main;
    opacity: 0;
    @include transition(all .3s ease);
  }
  &:hover {
    .en {
      opacity: 0;
    }
    .ch {
      opacity: 1;
    }
  }
}

// 定位area-search-panel與area-search-content
.area-search-panel {
  &-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  &-content {
    position: absolute;
    top: 100%;
    left: -57.5px;
    padding-top: 28.5px;
    &:before {
      position: absolute;
      top: 16.5px;
      left: 72px;
      display: block;
      width: 2px;
      height: 24px;
      content: "";
      background-color: $black-100;
    }
  }
}

// 定位area-search-panel與area-search-content
.style-search-panel {
  &-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  &-content {
    position: absolute;
    top: 100%;
    left: -57.5px;
    padding-top: 28.5px;
    &:before {
      position: absolute;
      top: 16.5px;
      left: 72px;
      display: block;
      width: 2px;
      height: 24px;
      content: "";
      background-color: $black-100;
    }
  }
}

// 加入樣式給region, area, city, gender, haircut
.search {
  &-category {
    display: flex;
  }
  &-region {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 240px;
    background-color: $primary-main;
  }
  &-area {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 240px;
    background-color: $primary-light;
  }
  &-city {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 280px;
    background-color: $black-0;
    .search-link {
      border: none;
      background-color: transparent;
      color: $black-100;

      &:hover {
        color: $secondary-main;
      }
    }
  }
  &-gender {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 240px;
    background-color: $primary-main;
  }
  &-haircut {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 240px;
    background-color: $primary-light;
    .search-link {
      border: none;
      background-color: transparent;
      color: $black-100;

      &:hover {
        background-color: $black-0;
      }
    }
  }
  &-item {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

.navbar-login {
  direction: rtl;
  position: relative;

  .login-btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
  }
}

.avater {
  &-btn {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
    background-color: transparent;
    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
      object-position: center;
    }
    span {
      display: block;
    }
  }
  &-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 12px;
    width: 167px;
    background-color: $black-80;
    color: $black-0;
    
    a {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 4px;
    }
  }
}