.signIn {
    border: 2px solid var(--black-100, #141213);
    box-shadow: 60px 60px #F0E4DE;
}

.l-icon {
    border: 1px solid var(--black-100, #141213);
    background: #FFF;
    color: var(--black-100, #141213);
}

.l-input input {
    width: 100%;
}

.l-btn {
    width: 100%;
    background: var(--black-100, #141213);
    color: var(--black-0, #FFF);
}


