.memberFavo{
    a:hover{
        color:$secondary-main !important; 
    }
}


.memberCupon{
  a:hover{
      color:$secondary-main !important; 
  }
}


.pageInfo{
    display: none;
  }

  .pageSelect  .active{
    border-bottom: 5px solid $secondary-main;
  }