.banner{
    background:url(../images/newspage/news-banner.png);
    background-repeat: no-repeat;  /*不重複圖片*/
    background-size: cover; /*失真圖片  使其剛好符合投放區SIZE*/
    background-position: 50%; /*圖片置中 故50%*/
    height: 435px;
    position: relative;
}

.newsTitle{
    width: 306px;
}

.newsCard{
    h2,h5{
        color: $black-100;
        font-weight: $font-weight-bold;
    }
    h2{
        height: 76px;
    }
    .card-body p{
        font-size: map-get($font-sizes, 14);
        font-weight: $font-weight-normal;
        margin-bottom: 8px;
    }
    

    a{
        color:$black-80;
    }
    a:hover{
        color:$secondary-main;
        img{
            opacity: 0.8;
        }
        h2,h5{
            color:$secondary-main;
        }
    }

    .card1{
        img{
            height: 775px;
            width: 636px;
        }
    }
    .card4{
        img{
            width: 306px;
            height: 320px;
        }
    }
}


.pageNav {
    height: 120px;
    a{
        color: $black-100;
    }
    a:hover{
        color:$secondary-main;
    }
    .active{
        color:$secondary-main;
    }
}