.pageSelect{
    a{
        color: $black-100;
    }
    a:hover{
        color:$secondary-main;
        border-bottom: 1px;
        border-width: 5px;
        border-bottom-style: solid;
        padding-bottom: 16px;
    }
}


.styList {
  a{
    color: $black-100;
  }
  a:hover{
    color:$secondary-main;
    img{
      opacity: 0.8;
    }
  }
  
}