.pageSelect{
    a{
        color: $black-100;
    }
    a:hover{
        color:$secondary-main;
        border-bottom: 1px solid;
        border-width: 5px;
    }
}

.styList {
  a{
    color: $black-100;
  }
  a:hover{
    color:$secondary-main;
    img{
      opacity: 0.8;
    }
  }
}

.pageInfo{
  display: none;
}