.pageSelect{
    a{
        color: $black-100;
    }
    a:hover{
        color:$secondary-main;
        border-bottom: 1px solid;
        border-width: 5px;
    }
}

.addCommentModal{
  a:hover{
    svg path{
      fill: #B9A37F; /* 鼠标悬停时的颜色 */
    }
  }
  .starHover{
    svg path{
      fill: #B9A37F; /* 鼠标悬停时的颜色 */
    }
  }
  .starActive{
    svg path{
      fill: #B9A37F; 
    }
  }
}

.styList {
  a{
    color: $black-100;
  }
  a:hover{
    color:$secondary-main;
    img{
      opacity: 0.8;
    }
  }
}

.pageInfo{
  display: none;
}

.customer-img {
  width: 48px;
  height: 48px;
}