<!DOCTYPE html>
<html lang="zh-tw">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>店家資訊</title>
</head>

<body>
	<!-- header -->
	<%- include("./layout/header") -%>
	<main id="to-top">
		<div class="container bg-black-20">
			<div class="border border-warning">
				<!-- 標題 -->
				<div class="d-flex justify-content-center mt-12 mb-15">
					<h1 class="fs-32 fw-bold text-black-100 ls-tiny-5">會員中心</h1>
				</div>
				<!-- 頁籤選擇部分 -->
				<div class="pageSelect row">
					<ul class="d-flex justify-content-center border-bottom list-unstyled d-grid gap-4">
						<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a class="pb-4" href="#">個人資訊</a></li>
						<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a
								class="pb-4 border-bottom border-5 border-secondary-main" href="#">預約紀錄</a></li>
						<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a class="pb-4" href="#">我的最愛</a></li>
						<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a class="pb-4" href="#">優惠券</a></li>
					</ul>
				</div>
				<!-- 頁籤內容部分 -->
				<!-- 會員中心-預約紀錄 -->
				<div class="memberReco">
					<div class="d-flex bg-black-0 mt-20 mb-10 mx-auto p-8 pb-10" style="width: 1076px;">
						<table class="table">
							<thead>
								<tr>
									<th scope="col" class="fw-medium ls-tiny-5 text-black-100 pb-4 ">預約日期</th>
									<th scope="col" class="fw-medium ls-tiny-5 text-black-100 pb-4">店家&設計師資訊</th>
									<th scope="col" class="fw-medium ls-tiny-5 text-black-100 pb-4">服務項目</th>
									<th scope="col" class="fw-medium ls-tiny-5 text-black-100 pb-4">金額</th>
									<th scope="col" class="fw-medium ls-tiny-5 text-black-100 pb-4">預約狀態</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="fs-14 ls-tiny-5 text-black-100 py-4  pe-2">2023/11/20 <span class="fs-14 ls-tiny-5 text-black-100">10:30</span></td>
									<td class="fs-14 ls-tiny-5 text-black-100 py-4 pe-2 ">時光造型廊 <span class="fs-14 ls-tiny-5 text-secondary-main ps-2">Olivia</span></td>
									<td class="fs-14 ls-tiny-5 text-black-100 py-4">燙髮</td>
									<td class="fs-14 ls-tiny-5 text-black-100 py-4">NT$3050</td>
									<td class="fs-14 ls-tiny-5 text-black-100 py-4">已預約</td>
								</tr>
								<tr>
									<td class="fs-14 ls-tiny-5 text-black-60 py-4  pe-2">2023/11/20 <span class="fs-14 ls-tiny-5 text-black-60">16:30</span></td>
									<td class="fs-14 ls-tiny-5 text-black-60 py-4 pe-2 ">時光造型廊 <span class="fs-14 ls-tiny-5 text-secondary-main ps-2">Olivia</span></td>
									<td class="fs-14 ls-tiny-5 text-black-60 py-4">剪髮</td>
									<td class="fs-14 ls-tiny-5 text-black-60 py-4">NT$850</td>
									<td class="fs-14 ls-tiny-5 text-black-60 py-4">已取消</td>
								</tr>
								<tr>
									<td class="fs-14 ls-tiny-5 text-black-100 py-4  pe-2">2023/11/20 <span class="fs-14 ls-tiny-5 text-black-100">10:30</span></td>
									<td class="fs-14 ls-tiny-5 text-black-100 py-4 pe-2 ">時光造型廊 <span class="fs-14 ls-tiny-5 text-secondary-main ps-2">Olivia</span></td>
									<td class="fs-14 ls-tiny-5 text-black-100 py-4">燙髮</td>
									<td class="fs-14 ls-tiny-5 text-black-100 py-4">NT$3050</td>
									<td class="fs-14 ls-tiny-5 text-black-100 py-4">已預約</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- 沒有預約紀錄 -->
					<div class="bg-black-0 mt-20 mb-10 mx-auto p-8 pb-10" style="width: 1076px;">
						<table class="table">
							<thead>
								<tr>
									<th scope="col" class="fw-medium ls-tiny-5 text-black-100 pb-4 ">預約日期</th>
									<th scope="col" class="fw-medium ls-tiny-5 text-black-100 pb-4">店家&設計師資訊</th>
									<th scope="col" class="fw-medium ls-tiny-5 text-black-100 pb-4">服務項目</th>
									<th scope="col" class="fw-medium ls-tiny-5 text-black-100 pb-4">金額</th>
									<th scope="col" class="fw-medium ls-tiny-5 text-black-100 pb-4">預約狀態</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<div class="d-flex justify-content-center pt-4">
							<p>您目前沒有預約紀錄</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- footer -->
	<%- include('./layout/footer'); -%>

	<script type="module" src="../main.js"></script>
</body>

</html>