<!DOCTYPE html>
<html lang="zh-tw">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>會員中心</title>
</head>

<body>
	<!-- header -->
	<%- include("./layout/header") -%>
	<main id="to-top">
		<div class="container bg-black-20">
			<div class="border border-warning">
				<!-- 標題 -->
				<div class="d-flex justify-content-center mt-12 mb-15">
					<h1 class="fs-32 fw-bold text-black-100 ls-tiny-5">會員中心</h1>
				</div>
				<!-- 頁籤選擇部分 -->
				<div class="pageSelect row">
					<ul class="d-flex justify-content-center border-bottom list-unstyled d-grid gap-4">
						<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a
								class="pb-4 border-bottom border-5 border-secondary-main" href="#">個人資訊</a></li>
						<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a class="pb-4" href="#">預約紀錄</a></li>
						<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a class="pb-4" href="#">我的最愛</a></li>
						<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a class="pb-4" href="#">優惠券</a></li>
					</ul>
				</div>
				<!-- 頁籤內容部分 -->
				<!-- 會員中心-個人資訊 -->
				<div class="memberInfo">
					<div class="d-flex bg-black-0 mt-20 mb-6 mx-auto p-0" style="width: 1076px;">
						<div class="pt-8 ps-8 row">
							<span class="fs-20 ls-tiny-5 text-black-100 pb-3">姓名： Mandy</span>
							<span class="fs-20 ls-tiny-5 text-black-100 py-3">電話： 0955123123</span>
							<span class="fs-20 ls-tiny-5 text-black-100 py-3">電子信箱： mandy123@gmail.com</span>
							<span class="fs-20 ls-tiny-5 text-black-100 pt-3 pb-14">生日： 1995/11/20</span>
						</div>
					</div>
					<div class="mx-auto d-flex justify-content-end mb-45" style="width: 1076px;">
						<button type="button" class="btn btn-dark fs-20 ls-tiny-5 fw-black px-8 py-4 rounded-0">編輯會員資料</button>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- footer -->
	<%- include('./layout/footer'); -%>

	<script type="module" src="../main.js"></script>
</body>

</html>