<!DOCTYPE html>
<html lang="zh-tw">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>會員中心</title>
</head>

<body>
	<!-- header -->
	<%- include("./layout/header") -%>
	<main id="to-top">
		<div class="container bg-black-20">
			<div class="border border-warning">
				<!-- 標題 -->
				<div class="d-flex justify-content-center mt-12 mb-15">
					<h1 class="fs-32 fw-bold text-black-100 ls-tiny-5">會員中心</h1>
				</div>
				<!-- 頁籤選擇部分 -->
				<div class="pageSelect row">
					<ul class="d-flex justify-content-center border-bottom list-unstyled d-grid gap-4">
						<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a
								class="pb-4 border-bottom border-5 border-secondary-main" href="#">個人資訊</a></li>
						<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a class="pb-4" href="#">預約紀錄</a></li>
						<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a class="pb-4" href="#">我的最愛</a></li>
						<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a class="pb-4" href="#">優惠券</a></li>
					</ul>
				</div>
				<!-- 頁籤內容部分 -->
				<!-- 會員中心-優惠券 可使用-->
				<div class="memberCupon">
					<div class="row bg-black-0 my-20 mx-auto p-8" style="width: 1076px;">
						<div class="mb-8">
							<ul class="d-flex list-unstyled">
								<li class="fw-medium ls-tiny-5 py-1 pe-6 border-end border-black-80"><a href="#" class="text-black-100">可使用</a></li>
								<li class="fw-medium ls-tiny-5 py-1 px-6 "><a href="#" class="text-black-60">已失效</a></li>
							</ul>
						</div>
						<div class="cupon1 row mx-auto mb-5 px-0  border rounded-end-3 rounded-start-3">
							<div class="d-flex align-items-center justify-content-center bg-secondary-main col-md-3  rounded-start-3" >
								<p class="fs-20 ls-tiny-5 text-black-0 fw-bold">9折優惠券</p>
							</div>
							<div class="py-5 ps-6 col-md-9   ">
								<p class="pb-6 ls-tiny-5 text-black-100">新客-入會禮</p>
								<p class="fs-14 ls-tiny-5 text-black-80">使用期限2024/11/20截止</p>
							</div>
						</div>
					</div>
				</div>
				<!-- 會員中心-優惠券 已失效-->
				<div class="memberCupon">
					<div class="row bg-black-0 my-20 mx-auto p-8" style="width: 1076px;">
						<div class="mb-8">
							<ul class="d-flex list-unstyled">
								<li class="fw-medium ls-tiny-5 py-1 pe-6 border-end border-black-80"><a href="#" class="text-black-60">可使用</a></li>
								<li class="fw-medium ls-tiny-5 py-1 px-6 "><a href="#" class="text-black-100">已失效</a></li>
							</ul>
						</div>
						<div class="cupon1 row mx-auto mb-5 px-0  border rounded-end-3 rounded-start-3">
							<div class="d-flex align-items-center justify-content-center bg-black-60 col-md-3  rounded-start-3" >
								<p class="fs-20 ls-tiny-5 text-black-0 fw-bold">50元折價券</p>
							</div>
							<div class="py-5 ps-6 col-md-9   ">
								<p class="pb-6 ls-tiny-5 text-black-100">每月限定隱藏加碼優惠</p>
								<p class="fs-14 ls-tiny-5 text-black-80">使用期限2024/10/05截止</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- footer -->
	<%- include('./layout/footer'); -%>

	<script type="module" src="../main.js"></script>
</body>

</html>