<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./layout/meta'); -%>
  <title>News 最新消息</title>
</head>

<body>
  <!-- preloader -->
  <%- include('./layout/preloader'); -%>
  <!-- header -->
  <%- include("./layout/header") -%>
  <main id="to-top">
    <div class="banner mb-0" style="background-image:url('../assets/images/newspage/news-banner.png'); height: 435px;">
    </div>
    <div class="container">
      <div class="newsTitle my-20">
        <h1 class="fs-48 ls-tiny-5">最新消息</h1>
        <hr class="border-2 opacity-100 pb-5" style="width: 306px;">
      </div>
      <!-- 卡片區 分成上下兩部分 分別為part1 part2-->
      <div class="newsCard">
        <!-- 上半部 part1 -->
        <div class="part1 row mb-10">
          <!-- 1個大卡片 col占6等分 -->
          <div class="card1 col-md-6">
            <div class="card border-0"> <!-- 卡片框線設定0-->
              <a href="./newsContent.html">
                <img src="../assets/images/newspage/Rectangle 68.png" class="card-img-top img-fluid" alt="..">
                <div class="card-body">
                  <p class="card-text fs-14 text-black-100 ls-tiny-5 mb-2">#時尚流行</p>
                  <h2 class="card-title fs-32 text-black-100 fw-bold ls-tiny-5 mb-2" style="height: 76px;">
                    2023夏季推薦染髮色系</h2>
                  <p class="card-text fs-14 text-black-80 ls-tiny-5 mb-2">By Kevin</p>
                  <p class="card-text fs-14 text-black-80 ls-tiny-5 mb-2">2023年11月08日</p>
                </div>
              </a>
            </div>
          </div>
          <!-- 4個小卡片 col占6等分 -->
          <div class="card4 col-md-6">
            <div class="row row-cols-1 row-cols-md-2">
              <div class="card border-0">
                <a href="./newsContent.html">
                  <img src="../assets/images/newspage/Rectangle 69.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <p class="card-text fs-14 text-black-100 ls-tiny-5 mb-2">#美髮產品</p>
                    <h5 class="card-title fs-20 text-black-100 fw-bold ls-tiny-5 mb-2" >
                      熱門美髮產品推薦：打造亮麗秀髮的秘密武器</h5>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5 mb-2">By Kevin</p>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5">2023年10月30日</p>
                  </div>
                </a>
              </div>
              <div class="card border-0">
                <a href="./newsContent.html">
                  <img src="../assets/images/newspage/Rectangle 70.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <p class="card-text fs-14 text-black-100 ls-tiny-5 mb-2">#美髮故事</p>
                    <h5 class="card-title fs-20 text-black-100 fw-bold ls-tiny-5 mb-2" >專訪時尚髮型設計師 |
                      創意與靈感的背後</h5>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5 mb-2">By Kevin</p>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5">2023年09月28日</p>
                  </div>
                </a>
              </div>
              <div class="card border-0">
                <a href="./newsContent.html">
                  <img src="../assets/images/newspage/Rectangle 71.png" class="card-img-top img-fluid pt-4" alt="...">
                  <div class="card-body">
                    <p class="card-text fs-14 text-black-100 ls-tiny-5 mb-2">#美髮教程</p>
                    <h5 class="card-title fs-20 text-black-100 fw-bold ls-tiny-5 mb-2" >
                      教你如何保持秀髮的健康與光澤</h5>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5 mb-2">By Kevin</p>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5">2023年11月08日</p>
                  </div>
                </a>
              </div>
              <div class="card border-0">
                <a href="./newsContent.html">
                  <img src="../assets/images/newspage/Rectangle 72.png" class="card-img-top img-fluid pt-4" alt="...">
                  <div class="card-body">
                    <p class="card-text fs-14 text-black-100 ls-tiny-5 mb-2">#美髮造型</p>
                    <h5 class="card-title fs-20 text-black-100 fw-bold ls-tiny-5 mb-2" >
                      【造型指南】如何挑選最適合您的髮型</h5>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5 mb-2">By Kevin</p>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5">2023年09月12日</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- 下半部 part2 -->
        <div class="part2 row">
          <!-- 4個小卡片 占6等分 -->
          <div class="card4 col-md-6">
            <div class="row row-cols-1 row-cols-md-2">
              <div class="card border-0">
                <a href="./newsContent.html">
                  <img src="../assets/images/newspage/Rectangle 73.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <p class="card-text fs-14 text-black-100 ls-tiny-5 mb-2">#美髮產品</p>
                    <h5 class="card-title fs-14 text-black-100 fw-bold ls-tiny-5 mb-2" >
                      頭皮也需要去角質嗎?帶您了解頭皮護理的重要性</h5>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5 mb-2">By Kevin</p>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5">2023年09月03日</p>
                  </div>
                </a>
              </div>
              <div class="card border-0">
                <a href="./newsContent.html">
                  <img src="../assets/images/newspage/Rectangle 74.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <p class="card-text fs-14 text-black-100 ls-tiny-5 mb-2">#美髮造型</p>
                    <h5 class="card-title fs-20 text-black-100 fw-bold ls-tiny-5 mb-2" >
                      12款熱門捲髮造型推薦!長髮、短髮、中長髮</h5>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5 mb-2">By Kevin</p>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5">2023年08月28日</p>
                  </div>
                </a>
              </div>
              <div class="card border-0">
                <a href="./newsContent.html">
                  <img src="../assets/images/newspage/Rectangle 75.png" class="card-img-top img-fluid pt-4" alt="...">
                  <div class="card-body">
                    <p class="card-text fs-14 text-black-100 ls-tiny-5 mb-2">#美髮產品</p>
                    <h5 class="card-title fs-20 text-black-100 fw-bold ls-tiny-5 mb-2" >
                      5款頭皮保養推薦!養出強健秀髮</h5>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5 mb-2">By Kevin</p>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5">2023年08月08日</p>
                  </div>
                </a>
              </div>
              <div class="card border-0">
                <a href="./newsContent.html">
                  <img src="../assets/images/newspage/Rectangle 76.png" class="card-img-top img-fluid pt-4" alt="...">
                  <div class="card-body">
                    <p class="card-text fs-14 text-black-100 ls-tiny-5 mb-2">#美髮秘訣</p>
                    <h5 class="card-title fs-20 text-black-100 fw-bold ls-tiny-5 mb-2" >
                      別再為落髮煩惱了!3步驟有效減少落髮秘訣</h5>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5 mb-2">By Kevin</p>
                    <p class="card-text fs-14 text-black-80 ls-tiny-5">2023年07月12日</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- 1個大卡片 占6等分 -->
          <div class="card1 col-md-6">
            <div class="card border-0"> <!-- 卡片框線設定0-->
              <a href="./newsContent.html">
                <img src="../assets/images/newspage/Rectangle 77.png" class="card-img-top img-fluid" alt="..">
                <div class="card-body">
                  <p class="card-text fs-14 text-black-100 ls-tiny-5 mb-2">#美髮產品</p>
                  <h2 class="card-title fs-32 text-black-100 fw-bold ls-tiny-5 mb-2" style="height: 76px;">
                    2023夏季推薦染髮色系>美麗秀髮的秘密：潤髮產品的優勢與用法</h2>
                  <p class="card-text fs-14 text-black-80 ls-tiny-5 mb-2">By Kevin</p>
                  <p class="card-text fs-14 text-black-80 ls-tiny-5 mb-2">2023年07月08日</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- 分頁選擇Nav -->
      <div class="pageNav mt-18 mb-30" style="height: 120px;">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item me-4 ms-6">
              <a class="page-link disabled" href="#" aria-label="Previous">
                <span aria-hidden="true">
                  <svg width="24" height="24" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_614_12752)">
                      <path
                        d="M8.34863 13.6543C8.34863 13.9619 8.46289 14.2256 8.70898 14.4541L15.5469 21.1514C15.7402 21.3447 15.9863 21.4502 16.2764 21.4502C16.8564 21.4502 17.3223 20.9932 17.3223 20.4043C17.3223 20.1143 17.1992 19.8594 17.0059 19.6572L10.8447 13.6543L17.0059 7.65137C17.1992 7.44922 17.3223 7.18555 17.3223 6.9043C17.3223 6.31543 16.8564 5.8584 16.2764 5.8584C15.9863 5.8584 15.7402 5.96387 15.5469 6.15723L8.70898 12.8457C8.46289 13.083 8.34863 13.3467 8.34863 13.6543Z"
                        fill="#1C1C1E" />
                    </g>
                    <defs>
                      <filter id="filter0_d_614_12752" x="-4" y="0" width="36" height="36" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                          result="hardAlpha" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_614_12752" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_614_12752" result="shape" />
                      </filter>
                    </defs>
                  </svg>
                </span>
              </a>
            </li>
            <li class="page-item mx-6 active"><a class="page-link fs-20" href="#">1</a></li>
            <li class="page-item mx-6"><a class="page-link fs-20" href="#">2</a></li>
            <li class="page-item mx-6"><a class="page-link fs-20" href="#">3</a></li>
            <li class="page-item me-6 ms-4">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">
                  <svg width="24" height="24" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M19.6514 13.6543C19.6426 13.3467 19.5283 13.083 19.291 12.8457L12.4531 6.15723C12.251 5.96387 12.0137 5.8584 11.7236 5.8584C11.1348 5.8584 10.6777 6.31543 10.6777 6.9043C10.6777 7.18555 10.792 7.44922 10.9941 7.65137L17.1465 13.6543L10.9941 19.6572C10.792 19.8594 10.6777 20.1143 10.6777 20.4043C10.6777 20.9932 11.1348 21.4502 11.7236 21.4502C12.0049 21.4502 12.251 21.3447 12.4531 21.1514L19.291 14.4541C19.5371 14.2256 19.6514 13.9619 19.6514 13.6543Z"
                      fill="#1C1C1E" />
                  </svg>
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </main>

  <!-- footer -->
  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>