<!DOCTYPE html>
<html lang="zh-tw">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include('./layout/meta'); -%>
	<title>店家資訊</title>
</head>

<body>
	<!-- preloader -->
	<%- include('./layout/preloader'); -%>
	<!-- header -->
	<%- include("./layout/header") -%>
	<main id="to-top">
		<div class="banner mb-0"
			style="background-image:url('../assets/images/salonInfopage/salonInfo-banner.png'); height: 435px;">
		</div>
		<div class="container bg-black-20">
			<!-- 店家logo -->
			<div class="row pt-15 pb-30">
				<div class="upper d-flex justify-content-between">
					<img src="../assets/images/salonInfopage/salonImg.png" style="height: 120px; width: 120px;">
					<div class="salonInfoText col ms-8 mt-7">
						<p class="fs-24 text-black-100 ls-tiny-5  mb-2">時光造型廊</p>
						<p class="text-black-100 ls-tiny-5">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M9.88393 16.9848L13.4774 18.9887C13.6582 19.0866 13.8089 19.1619 13.9972 19.2071V6.69402L10.5017 4.58465C10.2757 4.44904 10.0647 4.35111 9.88393 4.30591V16.9848ZM4.06055 17.9942C4.06055 18.6497 4.47489 19.0113 5.07757 19.0113C5.29604 19.0113 5.52204 18.9435 5.77818 18.8079L8.77651 17.1806V4.38878C8.61077 4.45658 8.4149 4.53945 8.2115 4.65998L4.80636 6.59609C4.29408 6.88236 4.06055 7.28917 4.06055 7.86171V17.9942ZM15.0971 19.1695C15.1875 19.1469 15.2779 19.1092 15.3608 19.0489L19.1727 16.8944C19.7001 16.6005 19.9411 16.2013 19.9411 15.6287V5.54893C19.9411 4.86339 19.5193 4.52438 18.8789 4.52438C18.6454 4.52438 18.3968 4.59218 18.1331 4.73532L15.0971 6.42282V19.1695Z"
									fill="#1C1C1E" />
							</svg>
							桃園市桃園區介壽路1號
						</p>
					</div>
					<div class="p-0">
						<button type="button"
							class="btn btn-outline-dark fs-24 ls-tiny-5 fw-black px-12 py-4 rounded-0">加入最愛</button><br>
						<button type="button" class="btn btn-dark fs-24 ls-tiny-5 fw-black px-12 py-4 mt-4 rounded-0">立即預約</button>
					</div>
				</div>
			</div>
			<!-- 頁籤選擇 -->
			<div class="pageSelect row">
				<ul class="d-flex justify-content-center border-bottom list-unstyled d-grid gap-4">
					<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25"><a
							class="pageChoose pb-4 border-bottom border-5 border-secondary-main" href="#">沙龍資訊</a></li>
					<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25"><a class="pageChoose pb-4" href="#">設計師總覽</a></li>
					<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25"><a class="pageChoose pb-4" href="#">服務項目</a></li>
					<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25"><a class="pageChoose pb-4" href="#">優惠活動</a></li>
				</ul>
			</div>
			<!-- 頁籤內容-沙龍資訊 -->
			<div class="pageInfo d-block" data-value="沙龍資訊">
				<!-- 店家資訊 -->
				<div class="row">
					<div class="d-flex bg-black-0 mt-18 mb-15 mx-auto p-0" style="height: 308px; width: 856px;">
						<div class=" bg-primary-main align-items-center position-absolute mt-6 ms-n6 p-0" style=" width: 144px;">
							<p class="fs-20 lh-md text-black-100 ls-tiny-5 fw-bold py-2 pe-12 ps-3">店家資訊</p>
						</div>
						<div class="col-md-6 pt-24 ps-9">
							<p class="fs-20 lh-md text-black-100 ls-tiny-5 ">
								<svg class="me-3 " width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M5.72126 14.2154C8.68443 17.1886 12.2905 19.4788 15.2335 19.4788C16.5494 19.4788 17.7045 19.0167 18.6286 17.9922C19.171 17.3895 19.5025 16.6964 19.5025 16.0033C19.5025 15.471 19.2916 14.9486 18.7793 14.587L15.6956 12.3973C15.2034 12.0558 14.8016 11.8951 14.44 11.8951C13.9679 11.8951 13.546 12.1562 13.084 12.6183L12.3608 13.3415C12.2402 13.452 12.0996 13.5022 11.969 13.5022C11.8083 13.5022 11.6576 13.4419 11.5572 13.3817C10.9244 13.0402 9.83957 12.1161 8.8351 11.1116C7.83064 10.1071 6.89648 9.03235 6.56501 8.38949C6.50474 8.279 6.45452 8.13837 6.45452 7.97766C6.45452 7.85712 6.4947 7.7165 6.60519 7.59596L7.3284 6.86271C7.78041 6.39061 8.05162 5.97878 8.05162 5.50668C8.05162 5.13503 7.8909 4.73324 7.54939 4.2511L5.3697 1.19753C4.99805 0.675206 4.47573 0.454224 3.90318 0.454224C3.22015 0.454224 2.53711 0.755563 1.94448 1.32811C0.940011 2.2723 0.498047 3.44753 0.498047 4.74329C0.498047 7.68637 2.75809 11.2522 5.72126 14.2154Z"
										fill="#1C1C1E" />
								</svg>
								03-3361235
							</p>
							<p class="fs-20 lh-md text-black-100 ls-tiny-5 pt-3">
								<svg class="me-3 " width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M10.9897 20.9911C16.685 20.9911 21.3859 16.2902 21.3859 10.6049C21.3859 4.91964 16.6749 0.21875 10.9796 0.21875C5.29436 0.21875 0.603516 4.91964 0.603516 10.6049C0.603516 16.2902 5.30441 20.9911 10.9897 20.9911ZM5.92718 11.8705C5.47517 11.8705 5.1236 11.519 5.1236 11.067C5.1236 10.615 5.47517 10.2634 5.92718 10.2634H10.1861V4.49777C10.1861 4.04576 10.5377 3.6942 10.9796 3.6942C11.4417 3.6942 11.7932 4.04576 11.7932 4.49777V11.067C11.7932 11.519 11.4417 11.8705 10.9796 11.8705H5.92718Z"
										fill="#1C1C1E" />
								</svg>
								10:00 - 19:30
							</p>
							<p class="fs-20 lh-md text-black-100 ls-tiny-5 pt-3">
								<svg class="me-3 " width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M9.88393 16.9848L13.4774 18.9887C13.6582 19.0866 13.8089 19.1619 13.9972 19.2071V6.69402L10.5017 4.58465C10.2757 4.44904 10.0647 4.35111 9.88393 4.30591V16.9848ZM4.06055 17.9942C4.06055 18.6497 4.47489 19.0113 5.07757 19.0113C5.29604 19.0113 5.52204 18.9435 5.77818 18.8079L8.77651 17.1806V4.38878C8.61077 4.45658 8.4149 4.53945 8.2115 4.65998L4.80636 6.59609C4.29408 6.88236 4.06055 7.28917 4.06055 7.86171V17.9942ZM15.0971 19.1695C15.1875 19.1469 15.2779 19.1092 15.3608 19.0489L19.1727 16.8944C19.7001 16.6005 19.9411 16.2013 19.9411 15.6287V5.54893C19.9411 4.86339 19.5193 4.52438 18.8789 4.52438C18.6454 4.52438 18.3968 4.59218 18.1331 4.73532L15.0971 6.42282V19.1695Z"
										fill="#1C1C1E" />
								</svg>
								桃園市桃園區介壽路1號
							</p>
						</div>
						<div class="col-md-6 py-6 pe-9">
							<img src="../assets/images/searchSalonpage/salon2.png">
						</div>
					</div>
				</div>
				<!-- 顧客評價 -->
				<div class="row">
					<div class="bg-black-0 mb-30 mx-auto p-0" style=" width: 856px;">
						<div class="bg-primary-main position-absolute mt-6 ms-n6 p-0" style=" width: 144px;">
							<p class="fs-20 lh-md text-black-100 ls-tiny-5 fw-bold py-2 pe-12 ps-3">顧客評價</p>
						</div>
						<div class="d-flex mt-6 me-9 justify-content-end ">
							<button type="button" class="btn btn-dark fs-24 ls-tiny-5 fw-black px-12 py-4 rounded-0"
								data-bs-toggle="modal" data-bs-target="#exampleModal">撰寫評論</button>
						</div>
						<!-- Comment-Modal-->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-xl">
								<div class="modal-content addCommentModal">
									<button type="button" class="btn-close position-absolute" data-bs-dismiss="modal"
										aria-label="Close"></button>
									<div class="container-fluid">
										<div class="row">
											<h5 class="modal-title fs-24 ls-tiny-5 text-black-100 text-md-center pt-10 pb-2"
												id="exampleModalLabel">
												時光造型廊</h5>
											<p class="ls-tiny-5 text-black-80 fw-medium text-center pb-6">沙龍店家</p>
										</div>
										<div class="mx-27">
											<div class="row">
												<img class="p-0" src="../assets/images/salonInfopage/salonImg.png"
													style="height: 60px; width: 60px;">
												<div class="col mt-2 ms-3">
													<p class="ls-tiny-5 text-black-100">Alice</p>
													<p class="fs-14 ls-tiny-5 text-black-60 pt-1">公開發布</p>
												</div>
												<!-- 撰寫評論的星星 -->
												<div class="commentStar d-flex justify-content-center">
													<a class="starActive" href="#" star-num="0">
														<svg  width="40" height="40" viewBox="-5 -5 24 24" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path 
																d="M6.99959 11.0663L10.2796 13.453C10.7996 13.8396 11.5063 13.3196 11.3063 12.7063L10.0529 8.85298L13.2929 6.54631C13.8263 6.17298 13.5596 5.33298 12.9063 5.33298H8.93292L7.63959 1.30631C7.43959 0.69298 6.57292 0.69298 6.37292 1.30631L5.06626 5.33298H1.09292C0.43959 5.33298 0.172923 6.17298 0.706257 6.54631L3.94626 8.85298L2.69292 12.7063C2.49292 13.3196 3.19959 13.8263 3.71959 13.453L6.99959 11.0663Z"
																fill="#919191" />
														</svg>
													</a>
													<a href="#" star-num="1">
														<svg width="40" height="40" viewBox="-5 -5 24 24" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path
																d="M6.99959 11.0663L10.2796 13.453C10.7996 13.8396 11.5063 13.3196 11.3063 12.7063L10.0529 8.85298L13.2929 6.54631C13.8263 6.17298 13.5596 5.33298 12.9063 5.33298H8.93292L7.63959 1.30631C7.43959 0.69298 6.57292 0.69298 6.37292 1.30631L5.06626 5.33298H1.09292C0.43959 5.33298 0.172923 6.17298 0.706257 6.54631L3.94626 8.85298L2.69292 12.7063C2.49292 13.3196 3.19959 13.8263 3.71959 13.453L6.99959 11.0663Z"
																fill="#919191" />
														</svg>
													</a>
													<a href="#" star-num="2">
														<svg width="40" height="40" viewBox="-5 -5 24 24" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path
																d="M6.99959 11.0663L10.2796 13.453C10.7996 13.8396 11.5063 13.3196 11.3063 12.7063L10.0529 8.85298L13.2929 6.54631C13.8263 6.17298 13.5596 5.33298 12.9063 5.33298H8.93292L7.63959 1.30631C7.43959 0.69298 6.57292 0.69298 6.37292 1.30631L5.06626 5.33298H1.09292C0.43959 5.33298 0.172923 6.17298 0.706257 6.54631L3.94626 8.85298L2.69292 12.7063C2.49292 13.3196 3.19959 13.8263 3.71959 13.453L6.99959 11.0663Z"
																fill="#919191" />
														</svg>
													</a>
													<a href="#" star-num="3">
														<svg width="40" height="40" viewBox="-5 -5 24 24" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path
																d="M6.99959 11.0663L10.2796 13.453C10.7996 13.8396 11.5063 13.3196 11.3063 12.7063L10.0529 8.85298L13.2929 6.54631C13.8263 6.17298 13.5596 5.33298 12.9063 5.33298H8.93292L7.63959 1.30631C7.43959 0.69298 6.57292 0.69298 6.37292 1.30631L5.06626 5.33298H1.09292C0.43959 5.33298 0.172923 6.17298 0.706257 6.54631L3.94626 8.85298L2.69292 12.7063C2.49292 13.3196 3.19959 13.8263 3.71959 13.453L6.99959 11.0663Z"
																fill="#919191" />
														</svg>
													</a>
													<a href="#" star-num="4">
														<svg width="40" height="40" viewBox="-5 -5 24 24" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path
																d="M6.99959 11.0663L10.2796 13.453C10.7996 13.8396 11.5063 13.3196 11.3063 12.7063L10.0529 8.85298L13.2929 6.54631C13.8263 6.17298 13.5596 5.33298 12.9063 5.33298H8.93292L7.63959 1.30631C7.43959 0.69298 6.57292 0.69298 6.37292 1.30631L5.06626 5.33298H1.09292C0.43959 5.33298 0.172923 6.17298 0.706257 6.54631L3.94626 8.85298L2.69292 12.7063C2.49292 13.3196 3.19959 13.8263 3.71959 13.453L6.99959 11.0663Z"
																fill="#919191" />
														</svg>
													</a>
												</div>
												<div>
													<p class="fw-medium ls-tiny-5 text-black-80 mt-6">預約服務類型：</p>
													<button type="button"
														class="btn btn-outline-dark ls-tiny-5 text-black-60 mt-4 me-2 mb-6">剪髮</button>
													<button type="button"
														class="btn btn-outline-dark ls-tiny-5 text-black-60 mt-4 mx-2 mb-6">洗髮</button>
													<button type="button"
														class="btn btn-outline-dark ls-tiny-5 text-black-60 mt-4 mx-2 mb-6">護髮</button>
													<button type="button"
														class="btn btn-outline-dark ls-tiny-5 text-black-60 mt-4 mx-2 mb-6">燙髮</button>
													<button type="button"
														class="btn btn-outline-dark ls-tiny-5 text-black-60 mt-4 mx-2 mb-6">接髮</button>
													<button type="button"
														class="btn btn-outline-dark ls-tiny-5 text-black-60 mt-4 mx-2 mb-6">燙劉海</button>
													<button type="button"
														class="btn btn-outline-dark ls-tiny-5 text-black-60 mt-4 mx-2 mb-6">頭皮保養</button>
												</div>
												<!-- 撰寫評論的text-area -->
												<div class="form-floating">
													<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
														style="height: 184px"></textarea>
													<label for="floatingTextarea2" class="ls-tiny-5 text-black-60">詳細說明您的服務體驗</label>
												</div>
												<div class="d-flex justify-content-end mt-10 mb-14">
													<button type="button" class="btn btn-outline-dark fs-20 ls-tiny-5  px-12 py-4 me-6 rounded-0"
														data-bs-dismiss="modal">取消</button><br>
													<button type="button" class="btn btn-dark fs-20 ls-tiny-5  px-12 py-4  rounded-0">發布</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 評論區 -->
						<!-- 評論1 -->
						<div class="salonInfoComment mt-18 ms-9" style="width: 601px;">
							<div class="pb-6">
								<div class="d-flex justify-content-between ">
									<div class="d-flex">
										<img src="../assets/images/searchStylepage/hairStyle-long-1-2.jpg">
										<p class=" lh-md ls-tiny-5 text-black-100 fw-medium ms-2">陳小美</p>
									</div>
									<!-- 星星顯示顆數 -->
									<div class="">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M6.99959 11.0663L10.2796 13.453C10.7996 13.8396 11.5063 13.3196 11.3063 12.7063L10.0529 8.85298L13.2929 6.54631C13.8263 6.17298 13.5596 5.33298 12.9063 5.33298H8.93292L7.63959 1.30631C7.43959 0.69298 6.57292 0.69298 6.37292 1.30631L5.06626 5.33298H1.09292C0.43959 5.33298 0.172923 6.17298 0.706257 6.54631L3.94626 8.85298L2.69292 12.7063C2.49292 13.3196 3.19959 13.8263 3.71959 13.453L6.99959 11.0663Z"
												fill="#B9A37F" />
										</svg>
									</div>
								</div>
								<p class="lh-md ls-tiny-5 text-black-100 px-1 pt-3 pb-15">設計師非常細心聆聽我的想法，燙出來的捲髮也非常自然，超級喜歡!推推</p>
								<div class="d-flex justify-content-between">
									<p class="fs-14 lh-md ls-tiny-5 text-black-80">預約服務：燙髮</p>
									<p class="fs-14 lh-md ls-tiny-5 text-black-80">2023年10月7日</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 頁籤內容-設計師總覽 -->
			<div class="pageInfo" data-value="設計師總覽">
				<div class="styList d-flex justify-content-center">
					<div class="d-flex flex-wrap my-20 d-grid gap-4" style="width: 856px;">
						<a class="" href="#"><img src="../assets/images/searchHairDesigner/designer-1.png">
							<p class="fs-20 ls-tiny-5 pt-3">Olivia</p>
						</a>
						<a href="#"><img src="../assets/images/searchHairDesigner/designer-2.png">
							<p class="fs-20 ls-tiny-5 pt-3">Emily</p>
						</a>
						<a href="#"><img src="../assets/images/searchHairDesigner/designer-3.png">
							<p class="fs-20 ls-tiny-5 pt-3">Lulu</p>
						</a>
						<a href="#"><img src="../assets/images/searchHairDesigner/designer-4.png">
							<p class="fs-20 ls-tiny-5 pt-3">March</p>
						</a>
						<a href="#"><img src="../assets/images/searchHairDesigner/designer-5.png">
							<p class="fs-20 ls-tiny-5 pt-3">Henry</p>
						</a>
						<a href="#"><img src="../assets/images/searchHairDesigner/designer-6.png">
							<p class="fs-20 ls-tiny-5 pt-3">Daniel</p>
						</a>
					</div>
				</div>
			</div>
			<!-- 頁籤內容-服務項目 -->
			<div class="pageInfo" data-value="服務項目">
				<div class="serviceItem d-flex justify-content-center">
					<div class="my-20" style="width: 856px;">
						<div class="d-flex justify-content-between bg-black-0">
							<p class="fs-24 lh-md fw-medium text-black-100 ls-tiny-5 px-4 py-4">剪髮</p>
							<p class="fs-24 lh-md fw-medium text-black-100 ls-tiny-5 px-4 py-4">$850</p>
						</div>
						<div class="d-flex justify-content-between">
							<p class="fs-24 lh-md fw-medium text-black-100 ls-tiny-5 px-4 py-4">洗髮</p>
							<p class="fs-24 lh-md fw-medium text-black-100 ls-tiny-5 px-4 py-4">$450</p>
						</div>
						<div class="d-flex justify-content-between bg-black-0">
							<p class="fs-24 lh-md fw-medium text-black-100 ls-tiny-5 px-4 py-4">燙髮</p>
							<p class="fs-24 lh-md fw-medium text-black-100 ls-tiny-5 px-4 py-4">$3000 ~ $5000</p>
						</div>
						<div class="d-flex justify-content-between">
							<p class="fs-24 lh-md fw-medium text-black-100 ls-tiny-5 px-4 py-4">洗髮 + 剪髮</p>
							<p class="fs-24 lh-md fw-medium text-black-100 ls-tiny-5 px-4 py-4">$1250</p>
						</div>
						<div class="d-flex justify-content-between bg-black-0">
							<p class="fs-24 lh-md fw-medium text-black-100 ls-tiny-5 px-4 py-4">護髮</p>
							<p class="fs-24 lh-md fw-medium text-black-100 ls-tiny-5 px-4 py-4">$1800 ~ $3000</p>
						</div>
						<div class="d-flex justify-content-between">
							<p class="fs-24 lh-md fw-medium text-black-100 ls-tiny-5 px-4 py-4">染髮</p>
							<p class="fs-24 lh-md fw-medium text-black-100 ls-tiny-5 px-4 py-4">$2500 ~ $5000</p>
						</div>
					</div>
				</div>
			</div>
			<!-- 頁籤內容-優惠活動  -->
			<div class="pageInfo" data-value="優惠活動">
				<div class="serviceItem d-flex justify-content-center">
					<div class="my-20" style="width: 856px;">
						<div class="d-flex mb-8" style="height: 228px;">
							<img src="../assets/images/searchSalonpage/salon2.png">
							<div class="eventText d-flex flex-column justify-content-between ms-6">
								<p class="fs-20 lh-md ls-tiny-5 text-black-100 py-3">歲末感恩祭 ! 抽iphone 15 與多項好禮，今日起至 12/31 消費滿 5,000
									即可獲得一張抽獎券</p>
								<p class="fs-16 lh-md ls-tiny-5 text-black-60 py-3">2023年11月15日</p>
							</div>
						</div>
						<div class="d-flex mb-8" style="height: 228px;">
							<img src="../assets/images/searchSalonpage/salon3.png">
							<div class="eventText d-flex flex-column justify-content-between ms-6">
								<p class="fs-20 lh-md ls-tiny-5 text-black-100 py-3">新客優惠 ! 首次來店不指定設計師，消費滿千打九折</p>
								<p class="fs-16 lh-md ls-tiny-5 text-black-60 py-3">2023年05月12日</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- footer -->
	<%- include('./layout/footer'); -%>
	
	
	<script type="module" src="../main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
	<script type="module" src="../assets/js/salonInfo-addComment.js"></script>
	<!-- 切換頁籤的JS -->
	<script>
		const pageSelect = document.querySelector('.pageSelect');
		const pageChoose = document.querySelectorAll('.pageChoose');
		const pageInfo = document.querySelectorAll('.pageInfo');
		pageSelect.addEventListener('click', e => {
			e.preventDefault();
			if (e.target.classList.contains('pageChoose')) {
				pageChoose.forEach((item) => {
					item.classList.remove('border-bottom', 'border-5', 'border-secondary-main');
				});
				pageInfo.forEach((item) => {
					item.classList.remove('d-block');
					if (item.getAttribute('data-value') == e.target.textContent) {
						item.classList.add('d-block');
						e.target.classList.add('border-bottom', 'border-5', 'border-secondary-main');
					}
				});
			}
		});
	</script>
</body>

</html>