<!DOCTYPE html>
<html lang="zh-tw">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include('./layout/meta'); -%>
	<title>店家資訊</title>
</head>

<body>
	<!-- preloader -->
	<%- include('./layout/preloader'); -%>
	<!-- header -->
	<%- include("./layout/header") -%>
	<main id="to-top">
		<div class="banner mb-0"
			style="background-image:url('../assets/images/salonInfopage/salonInfo-banner.png'); height: 435px;">
		</div>
		<div class="container bg-black-20">
			<!-- 店家logo -->
			<div class="row pt-15 pb-30">
				<div class="upper d-flex justify-content-between">
					<img class="me-8" src="../assets/images/salonInfopage/salonImg.png" style="height: 120px; width: 120px;">
					<div class="salonInfoText col mt-7">
						<p class="fs-24 text-black-100 ls-tiny-5 mb-2">時光造型廊</p>
						<p class="text-black-100 ls-tiny-5">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M9.88393 16.9848L13.4774 18.9887C13.6582 19.0866 13.8089 19.1619 13.9972 19.2071V6.69402L10.5017 4.58465C10.2757 4.44904 10.0647 4.35111 9.88393 4.30591V16.9848ZM4.06055 17.9942C4.06055 18.6497 4.47489 19.0113 5.07757 19.0113C5.29604 19.0113 5.52204 18.9435 5.77818 18.8079L8.77651 17.1806V4.38878C8.61077 4.45658 8.4149 4.53945 8.2115 4.65998L4.80636 6.59609C4.29408 6.88236 4.06055 7.28917 4.06055 7.86171V17.9942ZM15.0971 19.1695C15.1875 19.1469 15.2779 19.1092 15.3608 19.0489L19.1727 16.8944C19.7001 16.6005 19.9411 16.2013 19.9411 15.6287V5.54893C19.9411 4.86339 19.5193 4.52438 18.8789 4.52438C18.6454 4.52438 18.3968 4.59218 18.1331 4.73532L15.0971 6.42282V19.1695Z"
									fill="#1C1C1E" />
							</svg>
							桃園市桃園區介壽路1號
						</p>
					</div>
					<div class="btn p-0">
						<button type="button"
							class="btn btn-outline-dark fs-24 ls-tiny-5 fw-black px-12 py-4 rounded-0">加入最愛</button><br>
						<button type="button" class="btn btn-dark fs-24 ls-tiny-5 fw-black px-12 py-4 mt-4 rounded-0">立即預約</button>
					</div>
				</div>
			</div>
			<!-- 頁籤選擇部分 -->
			<div class="pageSelect row">
				<ul class="d-flex justify-content-center border-bottom list-unstyled">
					<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a class="pb-4 " href="#">沙龍資訊</a></li>
					<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a
							class="pb-4 border-bottom border-5 border-secondary-main" href="#">設計師總覽</a></li>
					<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a class="pb-4" href="#">服務項目</a></li>
					<li class="fs-24 lh-md fw-bold ls-tiny-5 px-25" type="radio"><a class="pb-4" href="#">優惠活動</a></li>
				</ul>
			</div>
			<!-- 頁籤內容部分 -->
			<!-- 設計師總覽 -->
			<div class="styList d-flex justify-content-center">
				<div class="d-flex flex-wrap my-20 d-grid gap-4" style="width: 856px;">
					<a class="" href="#"><img src="../assets/images/searchHairDesigner/designer-1.png">
						<p class="fs-20 ls-tiny-5 pt-3">Olivia</p>
					</a>
					<a href="#"><img src="../assets/images/searchHairDesigner/designer-2.png">
						<p class="fs-20 ls-tiny-5 pt-3">Emily</p>
					</a>
					<a href="#"><img src="../assets/images/searchHairDesigner/designer-3.png">
						<p class="fs-20 ls-tiny-5 pt-3">Lulu</p>
					</a>
					<a href="#"><img src="../assets/images/searchHairDesigner/designer-4.png">
						<p class="fs-20 ls-tiny-5 pt-3">March</p>
					</a>
					<a href="#"><img src="../assets/images/searchHairDesigner/designer-5.png">
						<p class="fs-20 ls-tiny-5 pt-3">Henry</p>
					</a>
					<a href="#"><img src="../assets/images/searchHairDesigner/designer-6.png">
						<p class="fs-20 ls-tiny-5 pt-3">Daniel</p>
					</a>
				</div>
			</div>
		</div>
	</main>

	<!-- footer -->
	<%- include('./layout/footer'); -%>

	<script type="module" src="../main.js"></script>
</body>

</html>