<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.min.css">
    <title>HairSalon - search | HairSalon</title>
</head>

<body>
    <!-- header -->
    <%- include("./layout/header") -%>
    <main>
        <!-- banner -->
        <div class="container-fluid p-0 mb-20 position-relative">
            <div class="w-100 opacity-40 bg-black-0 position-absolute order-1 h-100"></div>
            <img class="w-100" src="../assets/images/searchStylepage/search-banner.png" alt="搜尋髮型">
        </div>

        <div class="container">
            <!-- title & form -->
            <div class="row justify-content-between mb-16">
                <div class="col-3">
                    <h2 class="font-noto-serif fs-40 ls-tiny-5">找店家</h2>
                    <span class="w-100 line d-block mt-4"></span>
                </div>
                <div class="col-9">
                    <form action="" class="row justify-content-end font-noto-serif">
                        <div class="col-3">
                            <select class="form-select py-3 border-black-100 fs-20" aria-label="Default select example">
                                <option selected>找店家</option>
                                <option value="1">找髮型</option>
                                <option value="2">找設計師</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select class="form-select py-3 border-black-100 fs-20" aria-label="Default select example">
                                <option selected>請選擇區域</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <!-- search tag -->
            <div class="row mb-10">
                <div class="col-10">
                    <ul class="d-flex ps-0 mb-0 gap-4 list-unstyled">
                        <li class="fs-28 ls-tiny-5">#桃園市</li>
                        <li class="fs-28 ls-tiny-5">#桃園區</li>
                    </ul>
                </div>
            </div>
            <!-- search 髮型結果 -->
            <ul class="row ps-0 mb-0 list-unstyled searchSalon">
                <li class="col-lg-4 mb-6 overflow-hidden">
                    <a href="" class="position-relative">
                        <div class="position-absolute top-0 start-0 opacity-20 w-100 h-100 fullMask"></div>
                        <img src="../assets/images/searchSalonpage/salon1.png" alt="">
                        <h3 class="salonLogo d-flex align-items-center py-2 px-4 position-absolute start-0 bg-black-60 bg-opacity-50 w-100">
                            <img class="rounded-circle" src="../assets/images/searchStylepage/salon-logo-1.jpg" alt="">
                            <p class="text-black-0 ps-2">Time Styling</p>
                        </h3>
                    </a>
                </li>
                <li class="col-lg-4 mb-6 overflow-hidden">
                    <a href="" class="position-relative">
                        <div class="position-absolute top-0 start-0 opacity-20 w-100 h-100 fullMask"></div>
                        <img src="../assets/images/searchSalonpage/salon1.png" alt="">
                        <h3 class="salonLogo d-flex align-items-center py-2 px-4 position-absolute start-0 bg-black-60 bg-opacity-50 w-100">
                            <img class="rounded-circle" src="../assets/images/searchStylepage/salon-logo-1.jpg" alt="">
                            <p class="text-black-0 ps-2">Time Styling</p>
                        </h3>
                    </a>
                </li>
                <li class="col-lg-4 mb-6 overflow-hidden">
                    <a href="" class="position-relative">
                        <div class="position-absolute top-0 start-0 opacity-20 w-100 h-100 fullMask"></div>
                        <img src="../assets/images/searchSalonpage/salon1.png" alt="">
                        <h3 class="salonLogo d-flex align-items-center py-2 px-4 position-absolute start-0 bg-black-60 bg-opacity-50 w-100">
                            <img class="rounded-circle" src="../assets/images/searchStylepage/salon-logo-1.jpg" alt="">
                            <p class="text-black-0 ps-2">Time Styling</p>
                        </h3>
                    </a>
                </li>
                <li class="col-lg-4 mb-6 overflow-hidden">
                    <a href="" class="position-relative">
                        <div class="position-absolute top-0 start-0 opacity-20 w-100 h-100 fullMask"></div>
                        <img src="../assets/images/searchSalonpage/salon1.png" alt="">
                        <h3 class="salonLogo d-flex align-items-center py-2 px-4 position-absolute start-0 bg-black-60 bg-opacity-50 w-100">
                            <img class="rounded-circle" src="../assets/images/searchStylepage/salon-logo-1.jpg" alt="">
                            <p class="text-black-0 ps-2">Time Styling</p>
                        </h3>
                    </a>
                </li>


            </ul>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center align-items-center pt-18 pb-30">
                    <li class="page-item">
                        <a class="page-link disabled" href="#" aria-label="Previous">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7.15597 12.2963C7.16351 12.56 7.26144 12.786 7.46484 12.9894L13.3259 18.7224C13.4992 18.8881 13.7026 18.9785 13.9512 18.9785C14.4559 18.9785 14.8477 18.5868 14.8477 18.082C14.8477 17.841 14.7497 17.615 14.5765 17.4417L9.30301 12.2963L14.5765 7.15095C14.7497 6.97768 14.8477 6.75921 14.8477 6.5106C14.8477 6.00586 14.4559 5.61412 13.9512 5.61412C13.7101 5.61412 13.4992 5.70452 13.3259 5.87026L7.46484 11.6108C7.25391 11.8066 7.15597 12.0326 7.15597 12.2963Z"
                                    fill="currentColor" />
                            </svg>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link fs-20 active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link fs-20" href="#">2</a></li>
                    <li class="page-item"><a class="page-link fs-20" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.844 11.7037C16.8365 11.44 16.7386 11.214 16.5352 11.0106L10.6741 5.27762C10.5008 5.11189 10.2974 5.02148 10.0488 5.02148C9.54408 5.02148 9.15234 5.41323 9.15234 5.91797C9.15234 6.15904 9.25028 6.38504 9.42355 6.55831L14.697 11.7037L9.42355 16.8491C9.25028 17.0223 9.15234 17.2408 9.15234 17.4894C9.15234 17.9941 9.54408 18.3859 10.0488 18.3859C10.2899 18.3859 10.5008 18.2955 10.6741 18.1297L16.5352 12.3892C16.7461 12.1934 16.844 11.9674 16.844 11.7037Z"
                                    fill="currentColor" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </main>
    <%- include("./layout/footer") -%>


    <script type="module" src="../main.js"></script>
    <script src="../node_modules/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let swiper = new Swiper(".mySwiper", {
                loop: true,
                spaceBetween: 5,
                slidesPerView: 3,
                freeMode: true,
                watchSlidesProgress: true,
            });

            let swiper2 = new Swiper(".mySwiper2", {
                loop: true,
                spaceBetween: 5,
                thumbs: {
                    swiper: swiper,
                },
            });
        });
    </script>
</body>

</html>