<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./layout/meta'); -%>
    <title>註冊</title>
</head>

<body>
    <!-- preloader -->
        
    <%- include("./layout/preloader") -%>

    <!-- header -->
    <%- include("./layout/header") -%> 
    
    <!-- login -->
    <main class="login">
        <div class="container">
            <div class="signUp text-center mt-70 mb-15 ms-xl-40 me-xl-40 pt-12 pb-12 ps-10 pe-10">
                <h1 class="fs-32 fw-bold lh-sm ls-tiny-15">加入我們 !</h1>
                <h2 class="fs-32 fw-bold lh-sm ls-tiny-15 mb-12">探索髮型的無限可能</h2>
                <div class="social-icons d-md-flex justify-content-center fs-20 fw-normal lh-sm ls-1 mb-8">
                    <a href="#" class="l-icon mb-4 mb-sm-0 pt-4 pb-4 ps-12 pe-12 me-sm-6 me-0">Google 登入</a>
                    <a href="#" class="l-icon pt-4 pb-4 ps-12 pe-12">Facebook  登入</a>
                </div>
                <form action="">
                    <div class="l-input mb-5">
                        <input class="pt-4 pb-4 ps-6"  type="email" placeholder="Email">
                    </div>
                    <div class="l-input mb-2">    
                        <input class="pt-4 pb-4 ps-6" type="password" placeholder="Password">
                    </div>
                    <div class="l-input mb-2 d-flex">
                        <input class="pt-4 pb-4 ps-6 me-6" type="text" placeholder="Name">
                        <input class="pt-4 pb-4 ps-6" type="date" placeholder="生日">
                    </div>
                    <div class="formCheck text-start mb-7">
                        <input class="checkbox-input" type="checkbox" value="同意訂閱電子報">
                        <label class="checkbox-label" for="同意訂閱電子報">同意訂閱電子報</label>
                    </div>
                    <input type="button" class="l-btn pt-4 pb-4 mb-9" value="註冊">
                </form>    
                <div class="goSignUp fs-16 fw-medium ">
                    <p>註冊/登入即代表您同意我們的網站條款</p>
                    <div class="newFriend d-flex justify-content-center mt-4">
                        <p>已經是會員了?</p><a class="ms-4" href="./login.html">前往登入</a>
                    </div>    
                </div>
                
            </div>
        </div>
    </main>
    
    <!-- footer -->
    <%- include("./layout/footer") -%>
    <script type="module" src="../main.js"></script>
</body>
</html>